<div class="main-container d-flex justify-content-center mt-5">

  <angprj-refuse class="me-3"  [refuseChoice]="refuseChoice"></angprj-refuse>

  <div class="card-container p-3">
    <p class="card-text mt-2 p-2">{{pokemon$.name}}</p>
    <div class="pokemon-details d-flex justify-content-around align-items-center">
      <div class="text-details p-3">
        <div>ID: {{pokemon$.id}}</div>
        <div>NAME: {{pokemon$.name}}</div>
        <div>WEIGHT: {{pokemon$.weight}}</div>
        <div>HEIGHT: {{pokemon$.height}}</div>
      </div>
      <img src={{pokemon$.sprites}} alt="pokemon-img">
    </div>
    <div class="button-container d-flex justify-content-between">
      <button class="btn btn-success mt-2" (click)="catch()" [disabled]="catchChoice.length > 5">Cattura</button>
      <button class="btn btn-danger mt-2" (click)="notCatch()">Rifiuta</button>
    </div>
    <div class="savage-pokemon-container mt-3 p-3">E' apparso un {{pokemon$.name}} selvaggio!
    </div>
  </div>

  <angprj-catch class="ms-3" (showDetails)="catch()" [catchChoice]="catchChoice"></angprj-catch>

</div>

<angprj-pokemon-details *ngIf="detailIsVisible" [pokemon$]="pokemon$"></angprj-pokemon-details>
