img {
  width: 100px;
}

.card-header {
  background-color:  rgb(221, 222, 135);;
}

.card-body {
  background-color: cadetblue;
}

.name {
  text-transform: capitalize;
}

.btn {
  width: 60px;
  padding: 1px;
  font-size: 0.7rem;
}
